<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href='/stylesheets/style.css' rel='stylesheet'/>
	<script type="text/javascript" charset="utf-8"></script>
	<script src="/lib/jquery-1.10.1.min.js"></script>
	<script src="client-side-javascript.js"></script>
</head>

<body>
	<div id="main">
		<form action="/" method="post" enctype="multipart/form-data">
			<label for="keyword">Keyword:</label>
			<input type="text" name="keyword" id="keyword">
			<br>
			<label for="file">Filename:</label>
			<input type="file" name="file" id="file">
			<input type="submit" name="submit" value="submit">
		</form><br><br>

		Speech recognition: <input onclick="changeButton()" type="button" value="Start" id="startStopButton"></input><br>
		Final result: <textarea rows="1" cols="50" id="transcript" value=""></textarea><br><br>

		

		<div id="myDiv">
			<img src="" alt="visuals go here" height="300" width="420" id="visuals"></div>
		</div>
</body>
</html>

