
@font-face
	font-family company
	src url(/fonts/ChaparralPro-SemiboldSubh.otf)

@font-face
	font-family keywords
	src url(/fonts/HUMASNL_.TTF)

@font-face
	font-family keywords_h1
	src url("/fonts/HUMASNL_.TTF")

body
	padding-top 33px
	padding-bottom 40px

#sidebar
	max-width 100%
	max-height 100%

#slides_scrollarea
	width 110%
	position relative
	left -19px
	max-height 500px
	overflow scroll
	border-top: 1px solid rgb(160,160,160)  

#current_img
	max-height 82%
	border: 1px solid rgb(160,160,160)  

.myBtn
	position relative
	top -3px
	margin-left 5px

#deckname
	font-size 150%
	margin-bottom 10px

#nav_menue
	margin-bottom 8px

#add-to-deck
	margin-bottom 8px
	margin-left 8px
	float right

#a_slide
	border: 1px solid rgb(160,160,160)  

#keywords_text_area
	width 70%
	height 19px
	position relative
	font-family keywords
	font-size 120%

#keywords_h1
	font-size 160%
	position relative
	top -1px

#company 
	font-family company
	font-size 200%
	position relative
	top 2px
	color white
